#escape-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 2em;
    font-size: 20px;
    background-color:#343c3d;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: 'IBM Plex Sans';
    box-sizing: border-box;
    text-decoration-line: none;
}
body{
    display: flex;
    justify-content: center;
    background: rgb(194 206 219);
    background: linear-gradient(205deg, rgb(238 233 245) 0%, rgb(30 34 42) 100%);
    background-size:100% 1000px;

}
  